@import "../assets/scss/settings";

.favorites {
  width: 100%;
  max-width: $content-max-width;
  margin: 0 auto;
  padding: 0 $small-margin;
  &__total {
    margin: $medium-margin 0 $small-margin;
    color: $brewdog-grey;
    font-weight: $font-weight-bold;
  }
  &__list {
    & > * {
      margin-bottom: $smaller-margin;
    }
  }
}