@import "settings";

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background-grey;
}

* {
  box-sizing: border-box;
}
