
$font-size-big: 120%;
$font-size-bigger: 150%;
$font-size-biggest: 200%;

$font-weight-bold: 700;

$smallest-margin: 0.25rem;
$smaller-margin: 0.5rem;
$small-margin: 1rem;
$medium-margin: 2rem;
$big-margin: 4rem;

$content-max-width: 800px;

$background-grey: lightgrey;
$brewdog-black: black;
$brewdog-white: white;
$brewdog-yellow: #a8a800;
$brewdog-grey: grey;
