
$font-size-smaller: 75%;
$font-size-big: 120%;
$font-size-bigger: 150%;
$font-size-biggest: 200%;

$font-weight-bold: 700;

$font-size-icons: 30px;

$smallest-margin: 0.25rem;
$smaller-margin: 0.5rem;
$small-margin: 1rem;
$medium-margin: 2rem;
$mediumer-margin: 3rem;
$big-margin: 4rem;

$content-max-width: 800px;

$background-grey: #F3F3F3;
$brewdog-black: #000000;
$brewdog-white: #FFFFFF;
$brewdog-yellow: #F6CD00;
$brewdog-grey: #868683;
$brewdog-grey-lighter: rgba(134, 134, 131, 0.71);
