
$font-size-big: 120%;
$font-size-bigger: 150%;
$font-size-biggest: 200%;

$smallest-margin: 0.25rem;
$smaller-margin: 0.5rem;
$small-margin: 1rem;
$medium-margin: 2rem;
$big-margin: 4rem;

$content-max-width: 800px;

$brewdog-black: black;
$brewdog-white: white;
$brewdog-yellow: yellow;