@import "../assets/scss/settings";

.homepage {
  padding-bottom: $medium-margin;
  &__filters {
    height: 100px;
    width: 100%;
    background-color: $brewdog-black;
    display: flex;
    align-items: center;
    @media (max-width: 767px) {
      height: unset;
    }
    &__container {
      display: flex;
      width: 100%;
      max-width: $content-max-width;
      margin: 0 auto;
      padding: 0 $small-margin;
      @media (max-width: 767px) {
        flex-direction: column;
      }
      input {
        width: 100%;
        border: none;
        border-bottom: 1px solid $brewdog-grey-lighter;
        background: transparent;
        font-size: 100%;
        color: white;
        padding: $smaller-margin 0;
        @media (max-width: 767px) {
          margin-bottom: $small-margin;
        }
        &:focus {
          border-color: white;
        }
      }
      &__name {
        padding-right: $medium-margin;
        flex-grow: 1;
        display: flex;
        input {
          margin-top: auto;
        }
      }
      &__alcohol {
        & > div:first-child {
          color: $brewdog-grey-lighter;
          font-size: $font-size-smaller;
        }
        & > div:last-child {
          display: flex;
        }
        &__space {
          width: $small-margin;
        }
      }
    }
  }
  &__table {
    // TODO make mixin or class of the following 4 lines cause they are used quite a lot
    width: 100%;
    max-width: $content-max-width;
    margin: 0 auto;
    padding: 0 $small-margin;
    &__header {
      // todo make mixin for this too maybe
      color: $brewdog-grey;
      font-weight: $font-weight-bold;
      margin: $medium-margin 0 $small-margin;
      display: flex;
      &__paginator {
        display: flex;
        margin-left: auto;
        &__page {
          margin-left: $smaller-margin;
          &--selected {
            color: $brewdog-yellow;
          }
        }
      }
    }
    &__list {
      & > * {
        margin-bottom: $smaller-margin;
      }
    }
  }
}