@import "../assets/scss/settings";

.details {
  &__top {
    background-color: $brewdog-white;
    &__name {
      background-color: $brewdog-black;
      &__container {
        width: 100%;
        max-width: $content-max-width;
        margin: 0 auto;
      }
      &__title {
        color: $brewdog-yellow;
        width: 60%;
        padding: $big-margin $small-margin $smaller-margin;
        font-size: $font-size-biggest;
        text-transform: uppercase;
        font-weight: $font-weight-bold;
      }
      &__tagline {
        color: $brewdog-grey;
        padding: 0 $small-margin $big-margin;
        font-size: $font-size-bigger;

      }
    }
    &__description {
      color: $brewdog-grey;
      width: 100%;
      max-width: $content-max-width;
      margin: 0 auto;
      padding: $big-margin $small-margin;
      &__container {
        width: 60%;
      }
    }
  }
  &__center {
    color: $brewdog-white;
    background-color: $brewdog-yellow;
    &__container {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      max-width: $content-max-width;
      margin: 0 auto;
      padding: 0 $small-margin;
      & > div {
        padding: $small-margin;
      }
    }
  }
  &__bottom {
    width: 100%;
    max-width: $content-max-width;
    margin: 0 auto;
    padding: 0 $small-margin;
    &__header {
      color: $brewdog-grey;
      font-weight: $font-weight-bold;
      margin: $medium-margin 0 $small-margin;
    }
    &__foods {
      display: flex;
      &__food {
        color: $brewdog-grey;
        background-color: $brewdog-white;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: $medium-margin;
        width: 15vw;
        height: 15vw;
        margin: 0 $small-margin $smaller-margin 0;
        box-shadow: $smaller-margin $smaller-margin $brewdog-yellow;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}